<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>
<% @products.each do |p| %>
<p><%=p.name %></p>
<p><%=p.description %></p>
<p><%=p.category %></p>
<p><%=p.sub_category %></p>
<p><%=p.price %></p>
<%= link_to 'Show', product_path(p) %>
<% if current_user && current_user.is_admin? %>
<%= link_to 'Edit', edit_product_path(p) %>
<%= link_to 'Destroy', product_path(p),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
<% end%>
<% end %>
<% if current_user  %>
<%= link_to "Sign out ", destroy_user_session_path, method: :delete %>
<% end%>
<%= link_to "Sign in ", new_user_session_path %>