<h1>Products#new</h1>

<%= form_with scope: :product,url: products_path, local: true do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
   <p>
    <%= f.label :Description %><br>
     <%= f.text_area :description %>
  </p>
   <p>
    <%= f.label :SubCategory %><br>
    <%= f.collection_select :sub_category, Category.where.not(parent_id: nil) , :id, :name , include_blank: true %>
  </p>
  
 
  <p>
    <%= f.label :Price %><br>
    <%= f.number_field :price %>
  </p>
  <p>
    <%= f.label :Image %>
    <%= f.file_field :image %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
