<h1>Products#show</h1>

<p>
  <strong>Title:</strong>
  <%= @product.name %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag (@product.image, style: 'width:150px height:150px' ) %>
</p>

<div>
<%= link_to 'Add to cart', shopping_cart_path(product_id: @product.id), :method => 'POST' %>
</div>

 </br>
 
<%= link_to 'View All Products', home_index_path %> </br>
