
<%= link_to "Products_dashboard ", products_dashboard_path %>

&nbsp || &nbsp

 <%= link_to "Categories_dashboad ", categories_dashboard_path %>

&nbsp|| &nbsp

 <%= link_to "Users_dashboad ", users_dashboard_path %>
 
<div>
 <% if current_user  %>
    <%= link_to "Sign out ", destroy_user_session_path, method: :delete %>
    &nbsp || &nbsp
    <%= link_to  "Profile", user_dashboard_path %>
<% else %>
    <%= link_to "Sign in ", new_user_session_path %>
<% end%>

</div>