
<% @categories.each do |c| %>
<%= link_to c.name , products_path( category_id: c.id ) %> ||
<% end %>

<div id="user">

<% if current_user  %>
    <%= link_to "Sign out ", destroy_user_session_path, method: :delete %>
    &nbsp || &nbsp
    <%= link_to  "Profile", user_dashboard_path %>
<% else %>
    <%= link_to "Sign in ", new_user_session_path %>
<% end%>

<% if current_user && current_user.is_admin? && controller_name != 'admin'%> </br>
    <%= link_to 'Admin Panel', admin_index_path %>
<% end%>

</div>